
/* Estilo global */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Color de fondo ligero */
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 20px;
}

/* Navbar */
.navbar {
    background-color: #007bff; /* Fondo azul para la barra de navegación */
}

    .navbar .navbar-brand {
        color: #fff !important; /* Color blanco para la marca */
        font-weight: bold;
    }

    .navbar .nav-link {
        color: #fff !important; /* Asegura que los enlaces sean blancos */
    }

        .navbar .nav-link:hover {
            color: #dcdcdc !important; /* Cambio de color al pasar el cursor */
        }

    .navbar .btn-outline-light {
        border-color: #fff;
        color: #fff;
    }

        .navbar .btn-outline-light:hover {
            background-color: #fff;
            color: #007bff;
        }

/* Estilos para los botones */
.btn-outline-primary {
    border-color: #007bff;
    color: #007bff;
}

    .btn-outline-primary:hover {
        background-color: #007bff;
        color: white;
    }

.btn-outline-success {
    border-color: #28a745;
    color: #28a745;
}

    .btn-outline-success:hover {
        background-color: #28a745;
        color: white;
    }

.btn-outline-danger {
    border-color: #dc3545;
    color: #dc3545;
}

    .btn-outline-danger:hover {
        background-color: #dc3545;
        color: white;
    }

.btn-outline-light {
    border-color: #fff;
    color: #fff;
}

    .btn-outline-light:hover {
        background-color: #fff;
        color: #007bff;
    }

/* Iconos de los botones */
button i.bi {
    font-size: 1.2rem;
}

/* Footer */
footer {
    background-color: #f1f1f1;
    padding: 10px 0;
}

    footer .container {
        text-align: center;
        color: #6c757d;
    }

    footer a {
        color: #007bff;
    }

        footer a:hover {
            text-decoration: none;
            color: #0056b3;
        }
