@{
    ViewData["Title"] = "Inicio de Sesión";
}
@* <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
</head> *@
<h1>Iniciar Sesión</h1>

<form asp-controller="Usuario" asp-action="Login" method="post">
    <div>
        <label>Email</label>
        <input type="email" name="Email" required />
    </div>
    <div>
        <label>Contraseña</label>
        <input type="password" name="Password" required />
    </div>
    <div>
        <button type="submit">Iniciar Sesión</button>
    </div>
</form>
<p>¿No tienes cuenta? <a href="@Url.Action("Registro", "Usuario")">Regístrate aquí</a></p>

